:root {
  --tg-theme-bg-color: #efeff3;
  --tg-theme-button-color: #2eaddc;
  --tg-theme-button-text-color: white;
}

body {
  margin: 0;
  padding: 0;
  background-color: #181f27;
  font-family: Inter;
}

#ton #ton-connect-button {
  width: 100% !important;
}

#ton #ton-connect-button div tc-root div{
  width: 100%;
}

#ton #ton-connect-button button {
  background-color: #3E88F7;
  border: none;
  outline: none;
  padding: 16px;
  border-radius: 8px;
  margin: 12px 0;
  height: fit-content !important;
  width: 100% !important;
  justify-content: center;
}

#ton #ton-connect-button button svg {
  display: none;
}

#ton #ton-connect-button button div {
  color: white;
  font-size: 16px;
  font-weight: 600;
}

#connected-btn #ton-connect-button{
  width: fit-content !important;
  display: flex;
  align-items: center;
}

#connected-btn #ton-connect-button button {
  background-color: transparent;
  border: none;
  outline: none;
  border-radius: 8px;
  height: fit-content !important;
  width: 100% !important;
  justify-content: center;
  padding:1px !important;
}

#connected-btn #ton-connect-button button div {
  color: white;
  font-size: 16px;
  font-weight: 600;
}

.underline-gap {
  display: inline-block;
  border-bottom: 2px dotted #3E88F7;
  padding-bottom: 4px;
}